body{
  background-color: red;

}

.left{
  background-color: blue;
  width: 50%;
}

.right{
  background-color: yellow;
  width: 50%;
}
@media screen and (min-width: 480px) and (max-width: 750px){
  body{
    background-color: green;



  }

}
@media screen and (max-width: 480px){
  .left{
    width: 100px;
    display:none;
  }
  .right{
    width: 100px;
  }
}
